/* ---- A spicy combination of...

  http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

and

  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/

-----------------------------------------------------  */


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
button,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: inherit;
  display: block;
}

li {
  list-style: none;
}

textarea {
  resize: none;
}

/* -- Specifics -- */

main {
  width: 60vw;
  margin-top: 1rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-height: 450px;
  margin-inline: auto;
}

h1 {
  font-size: 2rem;
}

p {
  column-count: 2;
  column-gap: 2rem;
}

.stack>*+* {
  margin-top: 1rem;
}

.block {
  margin-top: 1.5rem;
}

.block:not(:last-child) {
  margin-bottom: 1.5rem;
}

.copyright {
  margin-top: 0rem;
  font-size: 0.8rem;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
  padding: 0.25em 0.5em;
  border-radius: 5px;
}

.hidden {
  display: none;
}


.dark-mode {
  background-color: black;
  color: white;
}

.light-mode {
  background-color: white;
  color: black;
}


@media all and (max-width: 900px) {
  p {
    column-count: 1;
    width: 60ch;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}