/* ---- A spicy combination of...

  http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

and

  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/

-----------------------------------------------------  */


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
button,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: inherit;
}

li {
  list-style: none;
}

textarea {
  resize: none;
}

/* ----  Page specific styles ------- */

:root {
  --text-color: rgb(240, 228, 216);
  --bg-color: rgb(45, 45, 43);
  --accent: rgb(246, 245, 240);
  --title-font: "Raleway", Arial, sans-serif;
  --body-font: "Open Sans", Arial, sans-serif;
}

body {
  background: var(--bg-color) url("./assets/michael-fousert-RNsKphkdBTk-unsplash.jpg") center/cover no-repeat;
  color: var(--text-color);
  font-family: var(--body-font);
}

main {
  background-color: var(--bg-color);
  margin-top: min(20vh, 25%);
  padding-block: 2vw;
  padding-inline: 1vw;
  width: 100%;
}

section {
  margin-inline: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

h1 {
  font-size: 1.5rem;
  max-width: 80%;
  margin-left: 5%;
  padding-top: 2rem;
}

small {
  font-size: 0.85rem;
  text-align: center;
  padding-inline: 10%;
}

.title {
  font-family: var(--title-font);
}

.bold {
  font-weight: 500;
}

button {
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 3.5rem;
  background: var(--text-color);
  width: 160px;
  flex-shrink: 0;
  transition: 0.2s;
}

button:active {
  transform: scale(0.95);
  transition: 0.2s;
}